/* Colors = blue #0065FC  light blue #DEEBFF grey background #F2F2F2 */

* {
	box-sizing: border-box;
	font-family: Raleway;
}
.topnav {
	overflow: hidden;
}
.topnav a {
	float: right;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a.topnav-signup {
	color: #0065FC;
	font-weight: bold;
}
.topnav a:hover {
	background-color: #f2f2f2;
	color: black;
}
.topnav a.active {
	border-top: 1px solid #0065FC;
	color: #0065FC;
}
.input-container {
	display: flex;
	border: 1pt solid #f2f2f2;
	border-radius: 11px;
	justify-content: center;
	align-content: center;
	vertical-align: bottom;
	width: 350px;
	margin-bottom: 15px;
}
.input-field {
	width: 70%;
	padding: 10px;
	outline: none;
	border: none;
}
.input-field:focus {
	border: 2px solid #0065FC;
}
.icon-bg {
	position: absolute;
	height: 43px;
	width: 43px;
	border-radius: 32px;
	left: 0;
	background: #DEEBFF;
}
.icons {
	margin-left: -7px;
	color: #0065fc;
	overflow: hidden;
}
.fa-circle {
	position: absolute;
	left: 0;
	/*   margin-left: -7px; */
	color: #DEEBFF;
	font-size: 0;
}
.map-icon {
	display: flex;
	padding: 10px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
	background-color: #F2F2F2;
}
.search-button {
	border: none;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #0065FC;
	width: 33%;
}
.container-filters {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-weight: bold;
	align-items: flex-start;
	align-items: center;
	width: 66%;
}
.container-filters a {
	text-decoration: none;
}
.container-filters a:hover {
	margin-top: -10px;
}
.container-filters a:visited {
	color: black;
}
.filter-border {
	position: relative;
	display: flex;
	align-items: center;
	border: 3px solid #F2F2F2;
	border-radius: 50px;
	padding-right: 20px;
	margin-left: 10px;
}
.container-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.container-popular {
	display: flex;
	flex-direction: column;
	background: #F2F2F2;
	border-radius: 25px;
	margin-left: 40px;
	width: 400px;
}
.accomodation-heading {
	display: flex;
	flex: 1 0 100%;
	margin-left: 100px;
}
.popular-heading {
	display: flex;
	margin-left: 35px;
}
.crop {
	width: 360px;
	height: 180px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 25px 25px 0px 0px;
}
.container-accomodation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	max-width: 60%;
}
.listings {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
	justify-content: left;
	flex-wrap: wrap;
	justify-content: center;
	background: white;
	border: 1px solid white;
	border-radius: 25px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
	max-width: 360px;
	padding: 3px;
	margin: 10px 11px 10px 10px;
}
.img-popular {
	max-width: 150px;
	max-height: 140px;
	border-radius: 25px 0px 0px 25px;
	object-fit: cover;
	overflow: hidden;
}
.popular-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.listings-popular {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
	justify-content: flex-start;
	flex-wrap: wrap;
	background: white;
	border: 1px solid white;
	border-radius: 25px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
	max-width: 450px;
	max-height: 150px;
	padding: 3px;
}
.activity-container {
	display: grid;
	column-gap: 2rem;
	margin: 4rem 0;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}
.activity-listing1 {
	grid-row: 2 / 7;
	grid-column: 1 / 2;
}
.activity-listing2 {
	grid-column: 2 / 3;
	grid-row: 2 / 5;
}
.activity-listing3 {
	grid-column: 3 / 4;
	grid-row: 2 / 7;
}
.activity-listing4 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}
.activity-listing5 {
	grid-column: 2 / 3;
	grid-row: 6 / 7;
}
.activity-listing6 {
	grid-column: 4 / 5;
	grid-row: 4 / 7;
}
.activity-title {
	grid-column: 1 / -1;
}
.activity-listing {
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
	border-radius: 1rem;
	overflow: hidden;
    text-decoration: none;
    color: black;
}
.activity-listing:hover {
	margin-top: -10px;
    
}
.activity-listing-img {
	position: relative;
	flex: 1;
}
.activity-listing-crop-img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.activity-listing-text {
	margin: 1.2rem 1.5rem;
}
.footer {
	margin-top: 30px;
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	background: #F2F2F2;
}
.inner-footer {
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}
.inner-footer .footer-third {
	width: calc(33% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}
.inner-footer .footer-third:last-child {
	margin-right: 0px;
}
.inner-footer .footer-third h1 {
	font-size: 18px;
	color: black;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.inner-footer .footer-third a {
	font-size: 18px;
	color: black;
	display: block;
	font-weight: 200;
	width: 100%;
	margin-bottom: 5px;
	text-decoration: none;
}
@media(max-width:800px) {
	.container-filters {
		flex-direction: column;
		justify-content: flex-start;
		flex: 100%;
		max-width: 100%;
	}
	.container-popular {
		order: 0;
		flex: 100%;
		max-width: 100%;
		margin-left: 0;
	}
	.container-accomodation {
		order: 1;
		flex: 100%;
		max-width: 100%;
		background: white;
	}
	.footer .inner-footer {
		width: 100%;
	}
	.inner-footer .footer-third {
		width: 100%;
		margin-bottom: 30px;
	}
	.container-filters a:hover {
		margin-right: -10px;
		margin-top: 0;
	}
	.activity-image-short, .activity-image-short-bottom, .activity-image-tall {
		margin: 0 0 0 0;
	}
}
.fa-info-circle {
	color: #0065FC;
}
.fa-star {
	color: #0065FC;
}