/* Colors = blue #0065FC  light blue #DEEBFF grey background #F2F2 */

* {
	/*font-size: 100%; */
	font-family: Raleway;
}
.topnav {
	background-color: #F2f2f2;
	overflow: hidden;
}
.topnav a {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
/* Change the color of links on hover */

.topnav a:hover {
	background-color: #f2f2f2;
	color: black;
}
/* Add a color to the active/current link */

.topnav a.active {
	background-color: #0065FC;
	color: white;
}
.input-container {
	display: flex;
	border: 1pt solid #f2f2f2;
	border-radius: 11px;
	justify-content: center;
	align-content: center;
	vertical-align: bottom;
	width: 25%;
	margin-bottom: 15px;
}
.input-field {
	width: 70%;
	padding: 10px;
	outline: none;
	border: none;
}
.input-field:focus {
	border: 2px solid #0065FC;
}
.icons {
	color: #0065FC;
    
    overflow: hidden;
}
.fa-circle {
	color: #DEEBFF;
}
.map-icon {
	display: flex;
	padding: 10px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
	background-color: #F2F2F2;
    
}

.fa-border{
    border: none
}
.search-button {
	border: none;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	color: white;
	background-color: #0065FC;
	width: 33%;
}
/*
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;  */

.container-filters {
	display: flex;
	flex-direction: row;

	font-weight: bold;
    align-items: flex-start;
   align-items: center;
    justify-content: flex-start;
}


.box{
    border: 2px solid #0065FC;
    border-radius: 50px;
    padding-right: 20px;
    overflow: hidden;
}